body{
    background-image:url('http://snowbrains.com/wp-content/uploads/2013/09/Why-Beer-Is-Good-For-You.jpg');
    /* background-image:url('http://www.fabuloussavers.com/new_wallpaper/University_Of_Illinois_Desktop_Wallpaper_freecomputerdesktopwallpaper_1280.jpg'); */
    /* background-image:url('http://illinois.edu/assets/images/content/overview/coolstuff/desktopwallpaper/00quad_1280x1024.jpg'); */
    /* background-image:url('http://i39.photobucket.com/albums/e191/cntryguy16/CourtUofI2.jpg'); */
    /* background-image:url('http://www.barewalls.com/i/c/559356_Wood-Sign-University-of-Illinois-logo.jpg'); */
        /* background-image:url('http://illinois.edu/assets/images/content/overview/coolstuff/desktopwallpaper/new_wallpaper/Desktop/1280x800/main_quad_1280x800.jpg'); */
    background-size:100%;
    background-repeat:no-repeat;
}

body *:not(button){
    /* background-color:#FD5700; */
    background-color:black;
    /* border-color:#FD5700; */
}

.login-display-name{color: white }
.login-button{background-color: white}

#main {
    padding-top:20px;
}

.banner_signin{
    background-color: white;
    color: black;
}
#main_container{
    /* padding-top:16%; */
    position:relative;
}

@media screen and (min-width: 650px)
{
    button:hover, button:hover div{
		      background-color:#FFAC69;
		  }

    /* button:active div{ */
    /* 	color:#FD7C39; */
    /* } */

}

/* #mobile only */
@media screen and (max-width:650px){
    #clients{
	display:none;
    }
	
    #hidden_container{
	left:0;
	right:0;
    }

    #split_tab{
	display:none;
    }

    .select-all{
	display:none;
    }
    
    #add_cash{
	display:none;
    }

    #inc_price{
	display:none;
    }

    #delete_button {
	display:none;
    }
    #hide_button {
	display:none;
    }
    button div{
	pointer-events:none;
	background-color:transparent;
	font-size:100%;
    }

    
}
				    


#hidden_container{
    position: absolute;
    /* z-index:-1; */
    display:none;
    /* margin-right:100%; */

    /* bottom:auto; */
    /* margin-left: 100%; */
    /* float: none; */
}

/* #slide_div{ */
/*     position: absolute; */
/*     left: auto; */
/*     top: auto; */
/* } */
/* /\* /\\* .container:nth-of-type(2):before { *\\/ *\/ */
/*     background-color:rgba(0,0,0,1) */
/* } */

.container.douche-container {
    /* position:relative; */
    clear:both;
    /* display:block; */
    /* width:70%; */
    overflow:auto;
}
button {
    color: #1f628d;
    width:100%;
    height:40px;
    /* background-color:#FD7C39; */
    background-color: #FD5700;
    font-size:120%;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 30px;
    font-family: Arial;
    border: solid #1f628d 2px;
}


h1 *{
    /* color:black; */
    border-bottom: solid #1f628d 2px;
    color: #FD5700;
}

.control-label{
    color: #FD5700;
    font-size:150%;
}

.label{
    color: #1f628d;
    font-size:120%;
}


button.active{
    /* background-color:#FFAC69; */
    /* background-color:#7EFF43; */
    background-color:#1f628d;
    border: solid #FD7C39 2px;
    color: #FD7C39;
}
button.active div{
    background-color:#1f628d;
    color: #FD7C39;
}

button div{
    pointer-events:none;
    background-color:transparent;
    font-size:150%;
}

table.smaller {
    color: #FD5700;
    max-width:100%;
    /* width: 50%; */
}
table label{
    font-size:110%;
}

.btn.panel div{
    width:50%;
    float:left;
    font-size:120%;
}

#drink_form div{
    float:left;
    width:70%;
    /* background-color:#FD7C39; */
    font-size:120%;
}

#drink_form div input{
    background-color:#FD7C39;
    color:blue;
    font-size:120%;
    border-radius: 30px;
}

#client_form div{
    float:left;
    width:70%;
    background-color:#FD7C39;
    font-size:120%;
}

#client_form input{
    background-color:#FD7C39;
    color:blue;
    font-size:120%;
    border-radius: 30px;
}

/* .drink-table{ */
/*     width:70%; */
/* } */

#add_cash{
    opacity:1;
    color:red;
}

#inc_price{
    opacity:1;
    color:red;
}

#delete_button{
    opacity:1;
    background-color:red;
    width:100px;
}

#hide_button:hover{
    opacity:1;
    background-color:teal;
}

#hide_button{
    opacity:0;
    color:none;
    width:100px;
}

.select-all{
    width:100px;
}

.confirm{
    width:49%;
    background-color:green;
}
.cancel{
    width:49%;
    background-color:red;
}

#split_tab{
    width:100px;
}

.madhu:active{
    opacity:1;
}

.madhu{
    position:fixed;
    width:10%;
    opacity:0;
    bottom:2px;
    right:2px;
}

.dropdown-menu{
    color: #1f628d;
    background-color: #FD5700;
}
